[include]
	path = ~/.gitconfig.local

[user]
	name = Brenden Forward
	email = 44183550+brenfwd@users.noreply.github.com
	# set signingKey in ~/.gitconfig.local

[gpg]
	format = ssh

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main
